.page {
	height: 100%;
}

.center-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-column {
	flex-direction: column;
}

.w25 {
	width: 25%;
}

.w50 {
	width: 50%;
}

.w100 {
	width: 100%;
}

.button {
	height: 65px;
	line-height: 65px;
	background-color: #c4332d;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .25), 0 0 0 1px rgba(0, 0, 0, .15);
	color: #fff;
	padding: 0 10px;
	border-radius: 5px;
	font-size: 20px;
	margin-bottom: 20px;
	cursor: pointer;
}
