.page {
	height: 100%;
}

.center-flex {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;

	.inner-block {
		width: 25%;
	}
}

.w100 {
	width: 100%;
}
