$dark-golden-border: #383600;
$golden-gradient: linear-gradient(#b9b700, #fffd5f);

.card-label {
	height: 20%;
	margin: 14px;
	flex-basis: 30%;
	cursor: pointer;

	transition: all .2s ease-out;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&:hover {
		transform: translateY(-10%);
	}

	input {
		display: none;
	}

	input:checked ~ .card .bg-img {
		filter: hue-rotate(90deg);
		transition: all 0.5s ease-in;
	}

	input:checked ~ .card .checkbox-square {
		visibility: visible;
		background: $golden-gradient;

		&:after {
			transform: rotate(-45deg) scale3d(1, 1, 1);
			transition: transform 0.3s ease;
		}
	}

	.card {
		height: 100%;
		position: relative;
		text-align: left;
	    color: $white;
		padding-left: 10px;

	    border-radius: 5px;
	    border: 5px solid #ffffff00;
	    border-bottom-color: rgba(0, 0, 0, 0.14);

	    font-family: 'regular';

		opacity: 0;
		animation-duration: 0.7s;
		animation-fill-mode: forwards;

		.bg-img {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			height: 100%;
			width: 100%;
			background: $theme-gray url("/images/interests/dota2-interest-bg.jpg") no-repeat center;
			background-size: cover;
			opacity: 0.7;
		}

		.checkbox-square {
			visibility: hidden;
			position: absolute;
			top: 0;
			right: 0;
			width: 30px;
			height: 30px;

			border-bottom: 2px solid $dark-golden-border;
			border-left: 2px solid $dark-golden-border;
			border-radius: 0 5px 0 5px;

			&:after {
				content: '';
			    width: 23px;
			    height: 15px;
			    position: absolute;
			    top: 4px;
			    left: 2px;
			    border: 6px solid #fcfff4;
			    border-top: none;
			    border-right: none;
			    background: transparent;
				transform: rotate(-45deg) scale3d(0, 0, 0);
			}
		}
	}

}
