@import "./common/styles/*";
@import "./pods/*/style";

$main-color: #32343a;

.App {
	height: 100vh;
	text-align: center;
	background-color: $main-color;
	font-family: regular;
}

input, textarea {
	font-family: regular;
	border: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
