@import "./common/styles/*";
@import "./components/*/*";

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
	text-align: center;
	background-color: $jet-black;
	font-family: regular, Arial, Verdana;
}

input, textarea {
	font-family: regular;
	border: none;
}

.App {
	height: 100vh;
}
